body{
margin:3px;
background-image:linear-gradient(90deg,#61b6f2,#27139c);
}
.home, #hello{
display:flex;
scroll-behavior:smooth;
background-image:linear-gradient(90deg,#d10877,#086dd1);
color:white;
font-size:40px;
border:2px solid white;
border-radius:10px;
text-align:center;
box-shadow:3px 8px 6px black;
transition:background-image 1s;
}
/*#hello:hover{
background-image:linear-gradient(90deg,#7c00ff,rgba(179,133,228,1));
}*/
#hello:hover{
background-image:linear-gradient(90deg,rgba(252,78,0,1),rgba(250,158,117,1));
}

/*.home{
margin:30px;
padding:0px;
font-size:large;
display:table-header-group;
}
*/
button{
font-weight:bold;
height:30px;
padding:0px;
margin:0px;
display:inline;
width:80%;
}
.Cate{
background-image:linear-gradient(180deg,#ffffd9,#70706c);
border-radius:15px;
box-shadow:4px 4px 4px black;
}
.box{
background-image:linear-gradient(20deg,#3fff0a,#f5ea1d);
height:240px;
width:100%;
margin:10px rem;
padding:10px rem;
text-align:center;
font-size:25px;
text-transform:capitalize;
text-shadow:3px 2px 0px #a2a5a8;
border-radius:8px;
box-shadow:16px 16px 12px black;
display:flex;
align-content:center;
align-items:center;
align-self:center;


}

//.ball{
//background-color:yellow;
//color:yellow;
//}
#b1,#b2,#b3{
display:inline-block;

height:40px;
width:40px;
border-radius:50px;
}
#b1{
color:yellow;
background-color:yellow;
}
#b2{
color:#1df597;
background-color:#1df597;
}
#b3{
color:#1d9bf5;
background-color:#1d9bf5;
}
footer{
position:fixed;
bottom:0px;
margin:0px;
padding:0px;
background-color:black;
color:white;
width:100%;
}
